*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgb(0, 68, 40), rgb(34, 21, 0) 50%);
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 10px;
  perspective: 80em;
  overflow: hidden;
}
body *:not(:empty) {
  transform-style: preserve-3d;
}
.container {
  position: relative;
  -webkit-animation: container 60s -50s infinite linear;
  animation: container 60s -50s infinite linear;
}
@-webkit-keyframes container {
  from {
    transform: translateY(-5em) rotateY(0deg);
  }
  to {
    transform: translateY(-5em) rotateY(-360deg);
  }
}
@keyframes container {
  from {
    transform: translateY(-5em) rotateY(0deg);
  }
  to {
    transform: translateY(-5em) rotateY(-360deg);
  }
}
.roda-gigante {
  position: absolute;
}
@-webkit-keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.suporte .lado {
  transform: rotateY(var(--ry, 0)) translateZ(6em);
}
.suporte .lado:nth-child(2) {
  --ry: 180deg;
}
.suporte .lado > div {
  position: absolute;
}
.suporte .lado > div:nth-child(1) {
  width: 25em;
  height: 25em;
  transform: translateX(-50%) rotateX(4deg);
  transform-origin: top;
  background-image: conic-gradient(from 140deg at top, #000 0, transparent 18.5deg, #000 37deg 43deg, transparent 61.5deg, #000 80deg), linear-gradient(#000, #678 10%, #234);
  -webkit-clip-path: polygon(50% 0, 0 100%, 25% 100%, 50% 0, 100% 100%, 75% 100%);
  clip-path: polygon(50% 0, 0 100%, 25% 100%, 50% 0, 100% 100%, 75% 100%);
}
.suporte .lado > div:nth-child(2) {
  width: 25em;
  height: 25.55em;
  transform: translateX(-50%) rotateX(12deg);
  transform-origin: top;
  background-image: conic-gradient(from 140deg at top, #000 0, transparent 18.5deg, #000 37deg 43deg, transparent 61.5deg, #000 80deg), linear-gradient(#000, #abc 10%, #234);
  -webkit-clip-path: polygon(50% 0, 0 100%, 25% 100%, 50% 0, 100% 100%, 75% 100%);
  clip-path: polygon(50% 0, 0 100%, 25% 100%, 50% 0, 100% 100%, 75% 100%);
}
.suporte .lado > div:nth-child(3) {
  width: 6em;
  height: 28em;
  transform: rotateY(-90deg) rotateX(atan(0.5));
  transform-origin: top left;
  -webkit-clip-path: polygon(0 0, 1.7em 100%, 5.4em 100%);
  clip-path: polygon(0 0, 1.7em 100%, 5.4em 100%);
  background-image: conic-gradient(from 160deg at top left, #000 0, transparent 13deg, #000 30deg), linear-gradient(#000, #abc 10%, #234);
}
.suporte .lado > div:nth-child(4) {
  width: 6em;
  height: 25.7em;
  transform: rotateY(-90deg) rotateX(atan(0.25));
  transform-origin: top left;
  -webkit-clip-path: polygon(0 0, 1.7em 100%, 5.4em 100%);
          clip-path: polygon(0 0, 1.7em 100%, 5.4em 100%);
  background-image: conic-gradient(from 160deg at top left, #000 0, transparent 13deg, #000 30deg), linear-gradient(#000, #234 10%);
}
.suporte .lado > div:nth-child(5) {
  width: 6em;
  height: 28em;
  transform: rotateY(-90deg) rotateX(atan(-0.5));
  transform-origin: top left;
  -webkit-clip-path: polygon(0 0, 1.7em 100%, 5.3em 100%);
          clip-path: polygon(0 0, 1.7em 100%, 5.3em 100%);
  background-image: conic-gradient(from 160deg at top left, #000 0, transparent 13deg, #000 30deg), linear-gradient(#000, #abc 10%, #234);
}
.suporte .lado > div:nth-child(6) {
  width: 6em;
  height: 25.7em;
  transform: rotateY(-90deg) rotateX(atan(-0.25));
  transform-origin: top left;
  -webkit-clip-path: polygon(0 0, 1.7em 100%, 5.3em 100%);
          clip-path: polygon(0 0, 1.7em 100%, 5.3em 100%);
  background-image: conic-gradient(from 160deg at top left, #000 0, transparent 13deg, #000 30deg), linear-gradient(#000, #234 10%);
}
.suporte .base {
  position: absolute;
  inset: -20em;
  background-color: #456;
  transform: rotateX(-90deg) translateZ(25em);
  box-shadow: 0 0 1em #000 inset;
}
.suporte .base > div:nth-child(-n+4) {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2em;
  background-color: #456;
  transform-origin: top;
  transform: rotateZ(var(--rz, 0)) rotateX(90deg) translateZ(20em);
  box-shadow: 0 0 1em #000 inset;
}
.suporte .base > div:nth-child(-n+4):nth-child(2) {
  --rz: 90deg;
}
.suporte .base > div:nth-child(-n+4):nth-child(3) {
  --rz: 180deg;
}
.suporte .base > div:nth-child(-n+4):nth-child(4) {
  --rz: 270deg;
}
.suporte .sombraLateral > div {
  position: absolute;
  left: 3em;
  top: 3em;
  width: 6.2em;
  height: 3.4em;
  background-color: #123;
  filter: blur(0.5em);
}
.suporte .sombraLateral > div:nth-child(1) {
  left: 7.5em;
  top: 8.8em;
}
.suporte .sombraLateral > div:nth-child(2) {
  left: 7.5em;
  top: 27.8em;
}
.suporte .sombraLateral > div:nth-child(3) {
  left: 26.3em;
  top: 8.8em;
}
.suporte .sombraLateral > div:nth-child(4) {
  left: 26.3em;
  top: 27.8em;
}
.suporte .sombraCarrinho {
  position: absolute;
  inset: 0;
}
.suporte .sombraCarrinho div {
  position: absolute;
  inset: 10em;
  background-image: radial-gradient(closest-side, #0007, transparent);
  -webkit-animation: sombraCarrinho 30s var(--delay, 0s) infinite ease-in-out, cartShadowOpacity 30s var(--delay, 0s) infinite linear;
          animation: sombraCarrinho 30s var(--delay, 0s) infinite ease-in-out, cartShadowOpacity 30s var(--delay, 0s) infinite linear;
}
@-webkit-keyframes sombraCarrinho {
  from {
    transform: translateX(70%);
  }
  to {
    transform: translateX(-70%);
  }
}
@keyframes sombraCarrinho {
  from {
    transform: translateX(70%);
  }
  to {
    transform: translateX(-70%);
  }
}
@-webkit-keyframes cartShadowOpacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes cartShadowOpacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.suporte .sombraCarrinho div:nth-child(2) {
  --delay: -7.5s;
}
.suporte .sombraCarrinho div:nth-child(3) {
  --delay: -15s;
}
.suporte .sombraCarrinho div:nth-child(4) {
  --delay: -22.5s;
}

.ala {
  position: absolute;
  -webkit-animation: wheel 60s var(--delay, 0s) infinite linear;
          animation: wheel 60s var(--delay, 0s) infinite linear;
}
.ala:nth-child(2) {
  --delay: 0s;
  --hue: 0;
}
.ala:nth-child(3) {
  --delay: -7.5s;
  --hue: 135;
}
.ala:nth-child(4) {
  --delay: -15s;
  --hue: 270;
}
.ala:nth-child(5) {
  --delay: -22.5s;
  --hue: 405;
}
.ala:nth-child(6) {
  --delay: -30s;
  --hue: 540;
}
.ala:nth-child(7) {
  --delay: -37.5s;
  --hue: 675;
}
.ala:nth-child(8) {
  --delay: -45s;
  --hue: 810;
}
.ala:nth-child(9) {
  --delay: -52.5s;
  --hue: 945;
}

.estrutura {
  position: absolute;
  width: 15em;
}
.estrutura .lado {
  transform: translateZ(var(--tz, 5em));
}
.estrutura .lado:nth-child(2) {
  --tz: -5em;
}
.estrutura .lado i:nth-child(1) {
  width: 11.5em;
  transform-origin: left;
  transform: translate(15em, -50%) rotateZ(112.5deg);
}
.estrutura .lado i:nth-child(2) {
  width: 21.3em;
  transform-origin: left;
  transform: translate(15em, -50%) rotateZ(135deg);
}
.estrutura .lado i:nth-child(3) {
  width: 14em;
  transform: translate(1em, -50%);
}
.estrutura i {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.25em;
  background-image: linear-gradient(#aaa, #333, #aaa);
  transform-style: preserve-3d;
  border-radius: 0.25em;
}
.estrutura i::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: rotateX(var(--rx, 90deg));
  background: inherit;
  border-radius: inherit;
}
.estrutura > i:nth-child(3) {
  width: 10em;
  background-color: #fff;
  transform: translate(calc(15em - 50%), -50%) rotateY(90deg);
}
.estrutura_central {
  position: absolute;
  width: 14em;
  height: 1em;
  background-image: repeating-linear-gradient(90deg, #234 0 0.25em, #789 0 0.5em);
  box-shadow: 0 0 0.5em #0005 inset;
  transform: translate(-50%, -50%) rotateY(90deg) translateZ(calc(0.5em / tan(22.5deg)));
  transform-style: preserve-3d;
}
.estrutura_central::before, .estrutura_central::after {
  content: "";
  position: absolute;
  width: 1.4em;
  height: 1em;
  background-image: repeating-radial-gradient(circle at right, #234 0 0.25em, #789 0 0.5em);
  transform-origin: left;
  transform: rotateY(120deg);
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.estrutura_central::after {
  left: 100%;
  transform: rotateY(60deg);
}
.carrinho {
  position: absolute;
  top: -0.4em;
  left: 15em;
  transform-origin: 50% 0.4em;
  animation: wheel 60s var(--delay, 0s) infinite linear reverse;
  --color: hsl(var(--hue) 75% 75%);
}
.carrinho > div {
  position: absolute;
  left: 0;
  top: 0;
}
.carrinho > div:nth-child(6n+1) {
  --ry: 0deg;
}
.carrinho > div:nth-child(6n+2) {
  --ry: 60deg;
}
.carrinho > div:nth-child(6n+3) {
  --ry: 120deg;
}
.carrinho > div:nth-child(6n+4) {
  --ry: 180deg;
}
.carrinho > div:nth-child(6n+5) {
  --ry: 240deg;
}
.carrinho > div:nth-child(6n+6) {
  --ry: 300deg;
}
.carrinho > div:nth-child(-n+6) {
  top: 1em;
  width: 4em;
  height: 3.4em;
  background-color: var(--color);
  background-image: conic-gradient(from 150deg at 50% -0.2em, #0001, 5deg, transparent, 55deg, #0002 60deg), linear-gradient(#fff7, transparent);
  transform-origin: top;
  transform: translateX(-50%) rotateY(var(--ry)) translateZ(calc(0.1em * tan(60deg))) rotateX(75deg);
  -webkit-clip-path: polygon(1.9em 0, 2.1em 0, 100% 100%, 0 100%);
          clip-path: polygon(1.9em 0, 2.1em 0, 100% 100%, 0 100%);
  box-shadow: 0 0.1em 0.3em #0007 inset;
}
.carrinho > div:nth-child(n+7):nth-child(-n+12) {
  top: 1.86em;
  width: 4em;
  height: 0.6em;
  background-color: var(--color);
  transform: translateX(-50%) rotateY(var(--ry)) translateZ(calc(2em * tan(60deg)));
  box-shadow: 0 0 0.4em #0004 inset;
}

.carrinho > div:nth-child(n+13):nth-child(-n+18) {
  top: 9em;
  width: 4em;
  height: 2em;
  background-color: var(--color);
  background-image: linear-gradient(#0007, #0000);
  transform-origin: top;
  transform: translateX(-50%) rotateY(var(--ry)) translateZ(calc(1.5em * tan(60deg))) rotateX(155deg);
  -webkit-clip-path: polygon(0.5em 0, 3.5em 0, 100% 100%, 0 100%);
  clip-path: polygon(0.5em 0, 3.5em 0, 100% 100%, 0 100%);
  box-shadow: 0 0.1em 0.6em #0007 inset;
}
.carrinho > div:nth-child(n+19):nth-child(-n+24) {
  top: 6.6em;
  width: 4em;
  height: 0.6em;
  background-color: var(--color);
  transform: translateX(-50%) rotateY(var(--ry)) translateZ(calc(2em * tan(60deg)));
  box-shadow: 0 0 0.4em #0004 inset;
}
.carrinho > div.carrinho_pole {
  width: 0.8em;
  height: 8.4em;
  background-image: radial-gradient(circle at 50% 0.4em, #fff, #aaa 0.4em, transparent 0.4em), linear-gradient(90deg, transparent 0.3em, #777 0.3em, #fff, #777 0.5em, transparent 0.5em);
  transform: translateX(-50%) rotateY(var(--ry)) translateZ(calc(0.1em * tan(60deg)));
  transform-style: preserve-3d;
}
.carrinho > div.carrinho_pole::before, .carrinho > div.carrinho_pole::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: rotateY(var(--rx, 60deg));
  background: inherit;
  border-radius: inherit;
}
.carrinho > div.carrinho_pole::after {
  --rx: 120deg;
}
.carrinho > div.carrinho_baixo {
  top: 9em;
  width: 6em;
  height: calc(3em * tan(60deg));
  background-color: var(--color);
  background-image: radial-gradient(#000a, #0007);
  transform: translate(-50%, -50%) rotateX(90deg);
  -webkit-clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
  clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
}